@nmg:registry=https://jfrog.mynmg.com/api/npm/npm-utils/
//jfrog.mynmg.com/api/npm/npm-utils/:email = ccoe@neimanmarcus.com
//jfrog.mynmg.com/api/npm/npm-utils/:always-auth = true
//jfrog.mynmg.com/api/npm/npm-utils/:_auth = bnBtLXJlYWQtb25seTpBS0NwNWUzb3o4ZnExRVZEdlJ4ZkdOaHlZSFZmcWZZUFE4Y3FqeUw3eVVWeE5HQ1F5enZqRHl2emhWRGI2WVpDV1JNc3lVd2Vl